@media (max-width: 720px){
    .container {
        max-width: 1900px;
    }


    body{
        margin: 0;
        padding: 0;
        background-image: url("fondo_unico.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    }



                                                    /*svg*/


    svg {
        font: 20.5em/1 Open Sans, Impact;
        text-transform: uppercase;
        width: 100%;
        height: 50%;
        text-align: center;
    }@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

    .text {
        fill: none;
        stroke-width: 6;
        stroke-linejoin: round;
        stroke-dasharray: 70 330;
        stroke-dashoffset: 0;
        -webkit-animation: stroke 6s infinite linear;
        animation: stroke 6s infinite linear;
    }
    
    .text:nth-child(5n + 1) {
        stroke: #ff002f;
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }
    .text:nth-child(5n + 2) {
        stroke: #ffaa00;
        -webkit-animation-delay: -2.4s;
        animation-delay: -2.4s;
    }
    
    .text:nth-child(5n + 3) {
        stroke: #ffffff;
        -webkit-animation-delay: -3.6s;
        animation-delay: -3.6s;
    }
    
    .text:nth-child(5n + 4) {
        stroke: #fc04fc;
        -webkit-animation-delay: -4.8s;
        animation-delay: -4.8s;
    }
    
    .text:nth-child(5n + 5) {
        stroke: #523abf;
        -webkit-animation-delay: -6s;
        animation-delay: -6s;
    }
    
    @-webkit-keyframes stroke {
        100% {
        stroke-dashoffset: -400;
        }
    }
    
    @keyframes stroke {
        100% {
        stroke-dashoffset: -400;
        }
    }

                                               /*foto principal*/

    #pic-principal{
        display: flex;
        flex-direction: column;
        padding-top: 10%;

    }
    img{
        width: auto;
        height: 400px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #000000;
    }
    img:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #fc04fc;
        -webkit-box-shadow: 0px 0px 15px 15px #fc04fc;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        filter: saturate(180%);
        }

                                                 /*cuenta regresiva*/
    div#counter{
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    text-align: center;
    color: #F2385A;
    padding-top: 10%;
    }

                                                    /*footer*/
    #pie{
        font-size: small;
        position: relative;
        left: 0%;
        padding-top: 10%;
        padding-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    a{
        text-decoration: none;
        color: #F2385A;
        font-size: medium;
        width: 120px;
        height: 85px;
    }

    p#mensajito{
    font-size: large;
    }
    #listaCentrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    #boton{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5%;
    }



    /*confirmacion*/
    button.btn-primary{
    width: 120px;
    height: 85px;
    background-color: #ffffff9d;
    color: #F2385A;
    border: none;
    border-radius: 3.25rem;
    }
    button.btn-primary:hover{
    background-color: #F2385A;
    border: #F2385A solid 1px;
    border-radius: 3.25rem;
    }
    /*modal mensaje*/
    .modal-header{
    background-color: #F2385A;
    }
    .modal-body{
    background-color: #f7dfdf;
    
    }
    .modal-footer{
    background-color: #f7dfdf;
    border: 0px;
    }
    .btn-secondary{
    background-color: #F2385A;
    }
    form#body-modal{
    display: flex;
    flex-direction: column;
    }
    .modal-content{
    border: solid 2px white;
    }

}